.nav__container{
    width: 100vw;
    display: flex;
    flex-direction: column;
    background-color: yellow;
    justify-content: center;
    align-items: center;
    height: 15vh;
    padding: 20px;
}